table {
    border: 1px slategray;
}
td,li:hover {
    background-color: yellow;
    color: black;
}
tr,th {
    background-color: black;
    color: cornsilk;
}
tr,td {
    background-color: white;
    color: black;
}

